<div class="auth_form">
  <h2 appTypography="headingSMedium">Login</h2>

  <app-input
    label="Email"
    placeholder="Enter email"
    [value]="email()"
    (valueChange)="email.set($event)"
  ></app-input>

  <app-input
    label="Password"
    placeholder="Enter password"
    type="password"
    [value]="password()"
    (valueChange)="password.set($event)"
  ></app-input>

  @if (error()) {
    <div class="auth_error" appTypography="bodySRegular">
      {{ error() }}
    </div>
  }

  <app-button text="Login" size="md" [disabled]="loading()" (click)="submit()"></app-button>
</div>
