@use '../../../../styles/variables' as *;

/* ---------- SIZE MAP ---------- */
$btn-sizes: (
  xsm: (
    height: 20px,
    padding: 4px 8px,
    gap: 4px,
    radius: 4px,
    font-size: 8px,
    line-height: 10px,
    img-size: 10px,
    icon-size: 6px,
  ),

  sm: (
    height: 24px,
    padding: 6px 10px,
    gap: 4px,
    radius: 6px,
    font-size: 10px,
    line-height: 12px,
    img-size: 12px,
    icon-size: 8px,
  ),

  md: (
    height: 32px,
    padding: 8px 16px,
    gap: 6px,
    radius: 8px,
    font-size: 12px,
    line-height: 14px,
    img-size: 16px,
    icon-size: 12px,
  ),

  lg: (
    height: 40px,
    padding: 10px 16px,
    gap: 6px,
    radius: 12px,
    font-size: 14px,
    line-height: 20px,
    img-size: 20px,
    icon-size: 16px,
  ),
);

/* ---------- MIXINS ---------- */
@mixin btn-size($height, $padding, $gap, $radius, $font-size, $line-height, $img-size, $icon-size) {
  height: $height;
  padding: $padding;
  gap: $gap;
  border-radius: $radius;
  font-size: $font-size;
  line-height: $line-height;

  .btn-img {
    width: $img-size;
    height: $img-size;
  }

  i.bi {
    &::before {
      font-size: $icon-size;
    }
  }
}

@mixin btn-size-map($key) {
  $map: map-get($btn-sizes, $key);

  @include btn-size(
    map-get($map, height),
    map-get($map, padding),
    map-get($map, gap),
    map-get($map, radius),
    map-get($map, font-size),
    map-get($map, line-height),
    map-get($map, img-size),
    map-get($map, icon-size)
  );
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
  font-weight: 500;
  padding: 0;
  margin: 0;
  border: none;
  outline: 1px solid transparent;

  &:active,
  &:focus {
    border: none;
    outline: 1px solid transparent;
  }

  /* ---------- SIZES ---------- */
  &.btn--sm {
    @include btn-size-map(sm);
  }

  &.btn--md {
    @include btn-size-map(md);
  }

  &.btn--lg {
    @include btn-size-map(lg);
  }

  /* ---------- RESPONSIVE ---------- */
  @media (max-width: $max-mobile) {
    &.btn--lg {
      @include btn-size-map(md);
    }

    &.btn--md {
      @include btn-size-map(sm);
    }

    &.btn--sm {
      @include btn-size-map(xsm);
    }
  }

  /* ---------- WIDTH ---------- */
  &.btn--w-auto {
    width: auto;
  }

  &.btn--w-full {
    width: 100%;
  }

  &.btn--w-fit {
    width: fit-content;
  }

  /* ---------- RADIUS ---------- */

  &.btn--circle {
    border-radius: 50%;
  }

  /* BASE */
  &.btn--base {
    background: var(--base-90);
    color: var(--base-10);

    &:hover {
      background: var(--base-80);
    }

    &:active {
      background: var(--base-100);
    }

    &:focus {
      outline-color: var(--base-20);
    }
  }

  /* SECONDARY */
  &.btn--secondary {
    background: var(--base-10);
    color: var(--base-80);

    &:hover {
      background: var(--base-20);
    }

    &:active {
      background: var(--base-0);
    }

    &:focus {
      outline-color: var(--base-60);
    }
  }

  /* ACCENT */
  &.btn--accent {
    background: var(--accent-80);
    color: var(--white);

    &:hover {
      background: var(--accent-60);
    }

    &:active {
      background: var(--accent-100);
    }

    &:focus {
      outline-color: var(--accent-60);
    }
  }

  /* SUCCESS */
  &.btn--success {
    background: var(--success-100);
    color: var(--black);

    &:hover {
      background: var(--success-80);
    }

    &:active {
      background: var(--success-60);
    }

    &:focus {
      outline-color: var(--success-80);
    }
  }

  /* ERROR */
  &.btn--danger {
    background: var(--error-100);
    color: var(--white);

    &:hover {
      background: var(--error-80);
    }

    &:active {
      background: var(--error-60);
    }

    &:focus {
      outline-color: var(--error-40);
    }
  }

  /* GHOST */
  &.btn--ghost {
    background: transparent;
    color: var(--base-80);
    border: 1px solid var(--base-40);
    outline: none;

    &:hover {
      color: var(--base-100);
    }

    &:active {
      color: var(--base-60);
    }

    &:focus {
      border-color: var(--base-60);
      outline: none;
    }
  }

  /* IMG BUTTON */
  &.btn--image {
    background: transparent;
    color: var(--base-90);
    padding: 0;
    outline: none;
    border: none;

    &:hover {
      color: var(--base-100);
    }

    &:active {
      opacity: 0.6;
    }
  }

  /* DISABLED */
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .btn-text {
    white-space: nowrap;
  }
}
