@let auth = isAuth();
@let loginPage = isLoginPage();

<div class="header-wrap" [class]="loginPage ? '' : 'with-login-btn'">
  <div class="header_logo">
    <app-logo />
  </div>
  @if (!loginPage && !auth) {
    <app-button text="Login" size="md" color="accent" navTo="auth/login"></app-button>
  }

  @if (auth) {
    <app-button text="Logout" size="md" color="accent" (click)="handleLogout()"></app-button>
  }

  <div class="themes_wrap">
    <button (click)="handleTheme()" [disabled]="theme() === lightTheme"></button>
    <button (click)="handleTheme()" [disabled]="theme() === darkTheme"></button>
  </div>
</div>
