@use 'styles/app-theme.scss' as *;
@use 'styles//fonts.scss' as *;
@use 'styles/normalize.css' as *;
@use 'styles/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
}

html {
  width: 100%;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--base-0);
  color: var(--base-100);
  font-size: 1rem;
  line-height: 1.5;
  font-family: $font-main;
}

.sb-wrapper {
  padding: 24px;
  background: var(--background);
  font-family: $font-main;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--base-10) inset !important;
  -webkit-text-fill-color: var(--base-100) !important;
}

/**
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
*/
