@use '../../../../styles/variables' as *;

:host {
  .logo {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      transform: scale(0.97);
    }
  }

  .logo--small {
    .logo-img {
      width: 32px;
      aspect-ratio: 48/53;
    }

    .logo-text .ds,
    .logo-text .ai {
      font-size: 18px;
    }
  }

  .logo-img {
    width: 48px;
    height: 53px;
    object-fit: contain;
  }

  .logo-text {
    display: flex;
    align-items: flex-end;
    gap: 4px;

    .ds {
      color: var(--base-90);
      font-weight: 300;
      font-size: 24px;
      letter-spacing: 0.5px;
    }

    .ai {
      color: var(--accent-80);
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 0.5px;
    }

    .ds_desktop {
      display: none;

      @media (min-width: $min-tablet) {
        display: flex;
      }
    }

    .ds_mobile {
      display: flex;

      @media (min-width: $min-tablet) {
        display: none;
      }
    }
  }
}
