@let isLeftIcon = iconLeft();
@let isRightIcon = iconRight();

<div class="input-wrap" [class]="`input--${size()} ${disabled() ? 'input-disabled' : ''}`">
  @if (label()) {
    <label class="input-label">{{ label() }}</label>
  }

  <div
    class="input-container"
    [class]="{
      'left-icon': isLeftIcon && !isRightIcon,
      'right-icon': isRightIcon && !isLeftIcon,
      'left-right-icon': isLeftIcon && isRightIcon,
    }"
  >
    @if (iconLeft()) {
      <span class="input-icon">
        <i class="bi" [class]="'bi-' + iconLeft()"></i>
      </span>
    }

    <input
      class="input-field"
      [placeholder]="placeholder()"
      [value]="value()"
      [type]="valueType()"
      (input)="handleChangeValue($event.target.value)"
      (focus)="handleFocus()"
      (blur)="handleBlur()"
    />

    @if (iconRight()) {
      <span class="input-icon">
        <i class="bi" [class]="'bi-' + iconRight()"></i>
      </span>
    }
  </div>

  <div class="errors-wrap" [style]="{ height: 16 * maxErrorCount() + 'px' }">
    @if (showErrors()) {
      @for (err of errors(); track $index) {
        <p
          class="input-error"
          animate.enter="input-enter"
          animate.leave="input-leave"
          appTypography
          variant="descriptionXXSMedium"
        >
          {{ err }}
        </p>
      }
    }
  </div>
</div>
