@use '../../../../styles/variables' as *;

:host {
  .input-wrap {
    display: flex;
    flex-direction: column;

    .input-label {
      color: var(--base-90);
    }

    .input-container {
      width: 100%;
      display: grid;
      grid-template-rows: max-content;
      align-items: center;
      border: 1px solid var(--base-40);
      background: var(--base-10);
      border-radius: 6px;
      // transition: border-color 0.2s ease;

      &:focus-within {
        border-color: var(--accent-80);
      }

      .input-field {
        width: 100%;
        color: var(--base-100);
        background: none;
        border: none;
        outline: none;

        &:focus {
          border: none;
          outline: none;
        }
      }

      .input-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--base-80);
      }
    }

    .left-icon {
      grid-template-columns: max-content auto;
    }

    .right-icon {
      grid-template-columns: auto max-content;
    }

    .left-right-icon {
      grid-template-columns: max-content auto max-content;
    }

    .errors-wrap {
      width: 100%;
      min-width: 16px;

      .input-error {
        min-height: 16px;
        display: flex;
        align-items: center;
        color: var(--error-80);
      }
    }
  }

  .input-disabled {
    opacity: 0.8;
    pointer-events: none;
  }

  /* Sizes */
  .input--sm {
    gap: 4px;

    .input-label {
      font-size: 12px;
    }

    .input-container {
      padding: 4px 8px;
      gap: 8px;
      font-size: 14px;
    }

    .input-icon {
      i {
        font-size: 12px;
      }
    }

    .input-error {
      font-size: 10px;
    }
  }

  .input--md {
    gap: 6px;

    .input-label {
      font-size: 14px;
    }

    .input-container {
      padding: 6px 10px;
      gap: 10px;
      font-size: 16px;
    }

    .input-icon {
      i {
        font-size: 14px;
      }
    }

    .input-error {
      font-size: 12px;
    }
  }

  .input--lg {
    gap: 8px;

    .input-label {
      font-size: 16px;
    }

    .input-container {
      padding: 10px 14px;
      gap: 12px;
      font-size: 18px;
    }

    .input-icon {
      i {
        font-size: 16px;
      }
    }

    .input-error {
      font-size: 14px;
    }
  }

  @media (max-width: $max-mobile) {
    .input--md {
      gap: 4px;

      .input-label {
        font-size: 12px;
      }

      .input-container {
        padding: 4px 8px;
        gap: 8px;
        font-size: 14px;
      }

      .input-icon {
        i {
          font-size: 12px;
        }
      }

      .input-error {
        font-size: 10px;
      }
    }

    .input--lg {
      gap: 6px;

      .input-label {
        font-size: 14px;
      }

      .input-container {
        padding: 6px 10px;
        gap: 10px;
        font-size: 16px;
      }

      .input-icon {
        i {
          font-size: 14px;
        }
      }

      .input-error {
        font-size: 12px;
      }
    }
  }

  .input-enter {
    animation: show-error forwards 0.3s;
  }

  .input-leave {
    animation: show-error reverse forwards 0.3s;
  }

  @keyframes show-error {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
